<!DOCTYPE html>
<html lang="en">
<head>
    <title>Leandro BD</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <a href="" class="button-box">Admin</a>
        <ul class="nav-content">
            <a href="/criarEstudante"><li class="button-text">Sign-Up</li></a>
            <a href="/loginEstudante"><li class="button-box">Login</li></a>
        </ul>
    </nav>

    <main>
        <div class="content center">
            <h2 class="space">Preencha as informações abaixo para criar uma conta estudante:</h2>
            <form action="/criarEstudanteData" method="post" enctype="multipart/form-data">

                <div class="space">
                    <label class="center input-label" for="matricula">Matricula:</label><br>
                    <input class="input-box" type="text" placeholder="Matricula..." name="matricula">
                </div>

                <div class="space">
                    <label class="center input-label" for="email">Email:</label><br>
                    <input class="input-box" type="email" placeholder="Email..." name="email">
                </div>

                <div class="space">
                    <label class="center input-label" for="senha">Senha:</label><br>
                    <input class="input-box" type="password" placeholder="Senha..." name="senha">
                </div>

                <div class="space">
                    <label class="center input-label" for="nome">Nome:</label><br>
                    <input class="input-box" type="text" placeholder="Nome..." name="nome">
                </div>

                <div class="space">
                    <label class="center input-label" for="curso">Curso:</label><br>
                    <input class="input-box" type="text" placeholder="Curso..." name="curso">
                </div>

                <div class="space">
                    <label class="center input-label" for="foto">Foto:</label><br>
                    <input class="input-box" type="file" placeholder="Foto..." name="foto" accept="image/png, image/jpeg">
                </div>

                <% if (!resultEmailValidation.emailCorrect) { %>
                <p class="center err">Email deve ser da UnB</p>
                <% } %>

                <div class="space">
                    <input class="center button-box" type="submit" value="Criar!">
                </div>

            </form>
        </div>
    </main>
    <script src=""></script>
</body>
</html>

