<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Leandro BD</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>

        <nav>
            <a href="" class="button-box">Admin</a>
            <ul class="nav-content">
                <a href="/criarEstudante"><li class="button-text">Sign-Up</li></a>
                <a href=""><li class="button-box">Login</li></a>
            </ul>
        </nav>

        <main>            
            <div class="content center">
                <h2 class="space">Welcome to the Teacher Avaliation System</h2>
                <h4 class="space">Vamos começar?</h4>
                <a class="space button-box" href="/criarEstudante">Sign-Up</a>
                <h6 class="space ajuste">Se já tiver uma conta, <a href="">Login</a></h6>
            </div>
        </main>
        <script src=""></script>
    </body>
</html>