<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Leandro BD</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>

        <nav>
            <a href="" class="button-box">Admin</a>
            <ul class="nav-content">
                <a href=""><li class="button-text">Sign-Up</li></a>
                <a href=""><li class="button-box">Login</li></a>
            </ul>
        </nav>

        <main>            
            <div class="content center">
                <h2 class="space">Pagina de Login do Estudante</h2>
                <form action="/criarEstudanteData" method="post">

                    <div class="space">
                        <label class="center input-label" for="Matricula">Matricula:</label><br>
                        <input class="input-box" type="text" placeholder="Matricula..." name="matricula">
                    </div>

                    <div class="space">
                        <label class="center input-label" for="Email">Email:</label><br>
                        <input class="input-box" type="email" placeholder="Email..." name="email">    
                    </div>

                    
                </form>
            </div>
        </main>
        <script src=""></script>
    </body>
</html>