<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Leandro BD</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>

        <nav>
            <a href="" class="button-box">Admin</a>
            <ul class="nav-content">
                <a href="/criarEstudante"><li class="button-text">Sign-Up</li></a>
                <a href="/loginEstudante"><li class="button-box">Login</li></a>
            </ul>
        </nav>

        <main>            
            <div class="content center">
                <h2 class="space">Preencha as informações abaixo para realizar o login:</h2>
                <form action="/loginEstudanteData" method="post">

                    <div class="space">
                        <label class="center input-label" for="Matricula">Matricula:</label><br>
                        <input class="input-box" type="text" placeholder="Matricula..." name="matricula">
                    </div>

                    <div class="space">
                        <label class="center input-label" for="Senha">Senha:</label><br>
                        <input class="input-box" type="password" placeholder="Senha..." name="senha">
                    </div>

                    <% if (!resultSenhaValidation.senhaCorrect) { %>
                        <p class="center err">Senha Incorreta</p>
                    <% } %>    

                    <div class="space">
                        <input class="center button-box" type="submit" placeholder="Criar!">
                    </div>

                    
                </form>
            </div>
        </main>
        <script src=""></script>
    </body>
</html>